body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #7289da !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {    
    background-color: #7289da;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
    background-color: #3f4246;
    color: white !important;
}
.dropdown-menu {
    background-color: #3f4246 !important;
}

#error {
    background-color: black !important;
    background: black;
}
#resume {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px;
    left: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: white !important;
}

