
@{
    ViewBag.Title = "Home";
}
<img class="rounded-circle" src="../Content/Files/Thomas.jfif" />
<h3>About Me</h3>
<p>
    I am a Software Developer in the Louisville Kentucky Area.
</p>
<img src="../Content/Files/IUS.jpg">
<p>I am a Student at Indiana University Southeast.</p>
<img src="../Content/Files/DnD.jpg" width="200" height="200">
<p>
    I write a lot of little programs to help play Dungeons and Dragons. Check them out on my GitHub!
</p>
<img src="../Content/Files/ACM.png" width="200" height="200">
<p>
    I am Vice President of IUS's Association for Computing Machinery and recently competed in the regional International Collegiate Programming Contest
</p>
    

