@{
    ViewBag.Title = "Home";
}
<img class="rounded-circle float-right" id="portrait" src="../Content/Files/Thomas.jfif" />
<h3>About Me:</h3>
<p>
    I am a Software Developer in the Louisville Kentucky Area.
</p>
<img src="~/Content/Files/waystar.jpg" id="front-image">
<p>
    I am a Software Develeoper Intern at <a href="https://www.waystar.com/" target="_blank">Waystar</a>. 
</p>
   
<img src="../Content/Files/IUS.jpg" id="front-image">
<p>
    I am a Student at <a href="https://www.ius.edu/" target="_blank">Indiana University Southeast.</a>
    I will recieve my Bachelor's Degree in Computer Science with a Minor in Mathematics, in the Spring of 2020.
</p>
<img src="../Content/Files/ACM.png" id="front-image">
<p>
    I am Vice President of IUS's @Html.ActionLink("Association for Computing Machinery", "Acm", "Home", null) and competed in the regional <a href="https://icpc.baylor.edu/" target="_blank">International Collegiate Programming Contest</a> in Fall of 2019.
</p>
<img src="../Content/Files/DnD.jpg" id="front-image">
<p>
    I write a lot of little procedural generation programs to help play Dungeons and Dragons. Check them out on my <a href="https://github.com/thoma55s" target="_blank">GitHub</a>!
</p>



