@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div align="center">
                <img class="rounded-circle" id="front-image" src="https://i.imgur.com/amdqQhV.jpg" /><!--todo change ids to classes-->

                <h3>About Me:</h3>
                <p>
                    I am a Software Developer in the Louisville Kentucky Area.
                </p>

                <img src="https://imgur.com/BXujnbp.jpg" id="front-image" vspace ="10"><!--todo vspace to class-->
                <p>
                    I am a Software Develeoper Intern at <u><a href="https://www.waystar.com/" target="_blank">Waystar</a></u>.
                </p>

                <img src="https://i.imgur.com/HeYIo6K.jpg" id="front-image" vspace ="10">
                <p>
                    I am a Student at <u><a href="https://www.ius.edu/" target="_blank">Indiana University Southeast.</a></u>
                    I will recieve my Bachelor's Degree in Computer Science with a Minor in Mathematics, in the Spring of 2020.
                </p>
                <img src="https://i.imgur.com/4OC47bE.jpg" id="front-image" vspace ="10">
                <p>
                    I am Vice President of IUS's <u>@Html.ActionLink("Association for Computing Machinery", "Acm", "Home")</u> and competed in the regional <a href="https://icpc.baylor.edu/" target="_blank">International Collegiate Programming Contest</a> in Fall of 2019.
                </p>
                <img src="https://i.imgur.com/SIcxiz1.jpg" id="front-image" vspace ="10">
                <p>
                    I write a lot of small procedural generation programs to help play Dungeons and Dragons. Check out my favorites on my <u><a href="https://github.com/thoma55s" target="_blank">GitHub</a>!</u>
                </p>
            </div>
        </div>
    </div>
</div>
        



