@Styles.Render("~/bundles/Resume")
@{
    ViewBag.Title = "Resume";
}

<object class="resume d-none d-sm-block" data="~/Content/Files/ResumeThomas.pdf"
        type="application/pdf" internalinstanceid="13"></object>
<div class="d-block d-sm-none">
    <a href="~/Content/Files/ResumeThomas.pdf" download><u>Download My Resume</u></a>
</div>

