@{
    ViewBag.Title = "Resume";
}
<object class="d-none d-sm-block" data="~/Content/Files/ResumeThomas.pdf"
        type="application/pdf" internalinstanceid="13" id="resume"></object>
<div class="d-block d-sm-none">
    <a href="~/Content/Files/ResumeThomas.pdf" download><u>Download My Resume</u></a>
</div>