<div class="container bubble-container" align="center"><!--combine error classes-->
    <h1 class="bubble" id="bubble-padding">
        404
    </h1>

    <p>Sorry we can't seem to find what you were looking for.</p><!--todo figure out why this is not showing up-->
</div>
